section.cv-banner {
    margin-top: 50px;
}
@media (min-width: 768px) {
    section.cv-banner {
        margin-bottom: 50px;
    }
}

section.cv-banner div.cv-banner--img {
    max-width: 300px;
}

section.cv-banner div.cv-banner--img img {
    transition-property: transform;
    animation-duration: 5s;
    animation-delay: 3s;
}

section.cv-banner div.cv-banner--img img:hover {
    transform: rotate(5deg);
    transition-property: transform;
    animation-duration: 5s;
    animation-delay: 3s;
}

section.cv-banner div.cv-banner--word h1 {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
}
section.cv-banner div.cv-banner--word p {
    font-weight: 300;
    text-align: center;
}

@media screen {
    
}