/* filter div*/
.filters {
  background-color: #f5f5f7;
  font-size: 0.9rem;
}

.filters > div {
  border-radius: 25px;
  background: #f5f5f7;
  box-shadow: 12px 12px 24px #ddddde, -12px -12px 24px #ffffff;
}

/* top-filters button */
.top-filters .option-set .wrap-btn {
  margin: 0 20px 0 0;
  background-color: #fff;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  /* border: 1px solid #eee; */
  transition: all 300ms ease-in-out;
  padding: 1px 0;
}

.top-filters .wrap-btn .btn {
  height: 23px;
  width: 23px;
  border-radius: 23px;
  border: 1px solid #fff;
  box-shadow: 0px 1px 3px rgba(30, 30, 30, 0.3);
  background: #fff;
  transition: all 300ms ease-in-out;
  transform: translate(1px);
}

.top-filters .wrap-btn .selected > div {
  background: #2dd058;
  /* border: 1px solid #2DD058; */
}

.top-filters .wrap-btn .selected .btn {
  transform: translate(21px);
}

/* filter-columns */
.filter-columns .filter-column .filter a {
  color: #1c1c1e;
  text-decoration: none;
}

.filter-columns .filter-column .filter a.selected {
  border-radius: 25px;
  background: #f5f5f7;
  box-shadow: 5px 5px 5px #d0d0d2, -5px -5px 5px #ffffff;
}

/* item */
.item {
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
  border-radius: 25px;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 5px 5px 8px #c2c2c2, -5px -5px 8px #ffffff;
}

@media (min-width: 768px) {
  .item {
    flex: 1 0 41.6666666667%;
    max-width: 50%;
  }
  .item p {
    min-height: 72px;
  }
}

@media (min-width: 996px) {
  .item {
    flex: 1 0 25%;
    max-width: 33.33333333%;
  }
}

.list .item .tags span {
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 5px 5px 5px #d0d0d2, -5px -5px 5px #ffffff;
}

.list {
  height: auto !important;
}

a.item {
  transition: opacity 0.5s;
}

a.item:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

a.item.link h2 {
  display: inline-block;
}

@media (max-width: 768px) {
  a.item img {
    width: 100%; /* Full width */
    height: auto; /* Auto height initially */
    aspect-ratio: 1.8 / 1; /* 2:1 aspect ratio */
    object-fit: cover; /* Ensure the image is fully covered */
  }
}
a.item h2 {
  font-weight: 300;
}
/* spot info */
.spot-info {
  border-radius: 15px;
  background: #f5f5f7;
  margin: 2rem 15px 0;
  padding: 1.5rem 1rem 2rem;
}
.spot-info p.spot-info--title {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}
.spot-info p {
  padding: 0;
}
.spot-info p > span:before {
  content: "";
  display: inline-block;
  height: 0.8rem;
  width: 1px;
  margin: 0 10px;
  background-color: #6e6e73;
}
