section.index-banner {
    margin-top: 50px;
}
@media (min-width: 768px) {
    section.index-banner {
        margin-bottom: 50px;
    }
}

section.index-banner div.index-banner--img {
    max-width: 300px;
}

/* section.index-banner div.index-banner--img img {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .5s ease-in-out;  
}

section.index-banner div.index-banner--img img:hover {
    transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
} */

section.index-banner div.index-banner--word h1 {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
}
section.index-banner div.index-banner--word p {
    font-weight: 300;
    text-align: center;
    line-height: 28px;
}